* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: sans-serif;
}

.calculator-container {
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #05024e;
    margin: 20px 0px;
    box-shadow: 0px 20px 10px rgba(2, 0, 36, 1);
    border-radius: 10px;


}

.calculator-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
}


.input-group {
    margin-top: 10px;
    width: 65%;
    /* background-color: gray; */
}

.input-group label{
    padding: 10px;
}
.input-group input {
    width:95%;
    margin: 10px;
    padding: 8px 0px;
    border-radius: 4px;
}

.input-group input,
.calculatebtn:hover {
    outline: none;
    cursor: pointer;
}

.calculatebtn {
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 0px;
    background-color: rgb(0, 212, 255, 1);
    color: white;
    font-size: 20px;
    border: none;
}

.result-group{
    margin: 20px 0px;
}
.result-value{
    font-size: 24px;
}
.scale-group {
    width: 68%;
    display: flex;
    margin: 10px 10px;
    /* background-color: green; */
    justify-content: center;
}

.scale-div {
    width: 110px;
    height: 60px;
    /* background-color: red; */
    margin: 8px;
    padding: 6px;
    
}
.scale-div span{
    font-size: 12px;
}
.underweight {
    background-color: rgb(7, 68, 174);
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    
    font-size: 14px;
}

.normal {
    background-color: rgb(8, 99, 37);
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;

    font-size: 14px;
}

.overweight {
    background-color: rgb(215, 165, 47);
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
   
    font-size: 14px;
}
.obase {
    background-color: rgb(226, 95, 35);
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}
